---
import Navbar from '../components/Layout/Navbar';
import Footer from '../components/Layout/Footer';

import { LEGAL_NAME, WEBSITE_DESCRIPTION } from '../assets/data/legalInfo';

interface Props {
	title?: string;
	description?: string;
}
const { title = LEGAL_NAME, description = WEBSITE_DESCRIPTION } = Astro.props;
const siteName = LEGAL_NAME
const GOOGLE_ANALYTICS_ID = 'G-XXXXXXXXXX'
---



<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src={`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ANALYTICS_ID}`}`></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', GOOGLE_ANALYTICS_ID);
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:image" content="/images/og_image.webp" />
		<meta property="og:site_name" content={siteName} />

		<link rel="canonical" href={Astro.url.href} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" 
			rel="preload" as="style"
			onload="this.onload=null;this.rel='stylesheet'" />
		<noscript>
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" 
				rel="stylesheet" />
		</noscript>
	</head>
	<body>
		<Navbar currentPath={Astro.url.pathname} client:load />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
